/* Profile */
.profileFlex{
  display: flex;
  margin: 1rem 0 0 0.5rem;
  align-items: flex-end;
}
.snsFlex{
  display: flex;
  margin-left: 1.25rem;
}
.snsFlex svg{
  margin-right: 1rem;
}

.introduction{
  padding: 1.25rem 1rem 1rem;
}
.introduction a{
  color:deepskyblue;
  padding: 0 0.25rem;
  position: relative;
  display: inline-block;
}
.introduction a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 0;
  height: 1px;
  background-color: deepskyblue;
  transition: .3s;
}
.introduction a:hover::after {
  width: 100%;
}