/* Profile */
.profileFlex{
  display: flex;
  margin: 1rem 0 0 0.5rem;
  align-items: flex-end;
}
.snsFlex{
  display: flex;
  margin-left: 1.25rem;
  color: deepskyblue;
  transition: 0.5s all;
}
.snsFlex a:hover{
  color: dodgerblue;
}
.snsFlex svg{
  margin-right: 1rem;
}
.introduction{
  font-size:0.875rem;
}
.introduction a{
  color:deepskyblue;
  padding: 0 0.25rem;
  position: relative;
  display: inline-block;
}
.introduction a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 0;
  height: 1px;
  background-color: deepskyblue;
  transition: .3s;
}
.introduction a:hover::after {
  width: 100%;
}

/* History */
.history{
  margin-top: 1rem;
}
.time{
  font-size:0.75rem;
  margin-bottom: 0.5rem;
  display: block;
}
.historyContent p{
  font-size:0.875rem;
}