.header p {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.skillsFlex h2{
  font-size: 1.25rem;
}

.iconNameRatingFlex{
  display: flex;
}
.iconNameRatingFlex{
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;
}
.skillsName_Rating{
  margin-left: 2rem;
}

/* tac,pc */
@media (min-width: 768px){
  /*
  .skillsFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-15fgjps-MuiPaper-root-MuiCard-root {
    width: 48% !important;
  }
  */
}