p.main {
  display: block;
  font-size: 2em;
  font-weight: bold;
}
.h1{
  margin-bottom: 0.5rem;
}
.thum{
  width: 100%;
  height: auto;
}
.thum:hover{
  transform:scale(1.2,1.2);
  transition:1s all;
}
.box{
  overflow:hidden;
  box-shadow: 4px 4px 4px #bbb;
}
.imageGrid{
  gap: 0.5rem !important;
  padding-right: 1%;
}

/* SP */
@media screen and (max-width:600px){
  .box{
    margin-bottom: 1rem;
  }
  .imageGrid{
    display: block !important;
  }
  .css-hrkxab{
    display: block !important;
  }
  .Works_imageGrid__O_rKX {
    display: block !important;
  }
}