p.main {
  display: block;
  font-size: 2em;
  font-weight: bold;
}
.h1{
  margin-bottom: 0.5rem;
}
/* Profile */
@media screen and (max-width:600px){

  .imageGrid{
    display: block !important;
  }
  .css-hrkxab{
    display: block !important;
  }
  .Works_imageGrid__O_rKX {
    display: block !important;
  }
}

/* History */
