p.main {
  display: block;
  font-size: 2em;
  font-weight: bold;
}
.feature_wrap a,
.WorksDetail_feature_wrap__KmwOd a{
  color:deepskyblue;
  padding: 0 0.25rem;
  position: relative;
  display: inline-block;
}
.feature_wrap a::after,
.WorksDetail_feature_wrap__KmwOd a::after{
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 0;
  height: 1px;
  background-color: deepskyblue;
  transition: .3s;
}
.feature_wrap a:hover::after,
.WorksDetail_feature_wrap__KmwOd a:hover::after{
  width: 100%;
}

/*thum*/
.thum{
  width: 100%;
  height: auto;
  box-shadow: 4px 4px 4px #bbb;
}

/*titles*/
.titles{
  margin-bottom: 1rem;
}
.h1{
  display: inline-block;
  margin: 0.5rem 0 0;
  padding-left: 0.5rem;
}
.worksLink{
  color: deepskyblue;
  margin-left: 0.5rem;
}
.subtitle{
  line-height: 1.0;
  padding-left: 0.75rem;
}

/*tech_stack*/
.tech_stack_wrap,
.role,.term,
.feature_wrap{
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
.tech_stack_wrap h2,
.role h2,.term h2,
.feature_wrap h2{
  font-size: 1.25rem;
}
.tech_stack_wrap p,
.role p,.term p{
  padding-left: 0.25rem;
}

/*feature*/
.feature_wrap{
  padding-left: 0.5rem;
  margin: 1rem 0;
}
.feature_wrap h2{
  font-size: 1.25rem;
}
.feature_wrap h3{
  font-size: 1.125rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
  border-left: 0.5rem solid #898989;
  background-color: #eee;
  box-shadow: 4px 4px 4px #bbb;
}
.feature_wrap p{
  padding-left: 0.75rem;
  margin: 1rem 0 2rem 0;
}

/* SP */
@media screen and (max-width:600px){
  .box{
    margin-bottom: 1rem;
  }
  .imageGrid{
    display: block !important;
  }
  .css-hrkxab{
    display: block !important;
  }
  .Works_imageGrid__O_rKX {
    display: block !important;
  }
}